body {
    background: #eef;
    font-family: sans-serif;
    overflow-x: hidden;
}

.header {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerButtons {
    padding-top: 1rem;
    display: flex;
    gap: 25px;
}

.buttons,
.buttons:hover,
.buttons:active {
    background-color: #007d46 !important;
    color: white !important;
    border: 1px solid #007d46 !important;
}





.locomotiva {
    width: 8rem;
    padding-bottom: 1rem;   
}

.vagao {
    width: 12rem;
    margin-left: -20px;
    transition: opacity 0.5s;
}

.invisivel {
    opacity: 0;
    width: 0;
    margin-left: 0;
}

.trajeto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    box-sizing: border-box;

    /* --- Adições para o trilho --- */

    /* 1. Cor de fundo (brita/terra) e posicionamento */
    background-color: #ececec;
    /* Sua cor original como base */
    position: relative;
    /* ESSENCIAL para posicionar os trilhos dentro desta div */
    /* overflow: hidden; */
    /* Evita que algo saia dos limites */

    /* 2. Desenho dos dormentes (madeiras) com gradiente */
    background-image: repeating-linear-gradient(50deg,
            /* Deixa os dormentes na horizontal */
            rgba(155, 91, 13, 0.472),
            /* Cor do dormente (um cinza escuro semi-transparente) */
            rgb(155, 91, 13, 0.472) 20px,
            /* Largura do dormente: 20px */
            transparent 20px,
            /* Espaço transparente começando em 20px */
            transparent 60px
            /* Espaço transparente terminando em 60px (dando 40px de espaço) */
        );
}

/* 3. Desenho dos trilhos de metal (em cima e em baixo) */
.trajeto::before,
.trajeto::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #4a4a4a;
}

/* Posição do trilho de cima */
.trajeto::before {
    /*30 */
    top: 40px;
}

/* Posição do trilho de baixo */
.trajeto::after {
    bottom: 45px;
    /* 30px de baixo para ficar simétrico */
}


#trem {
    margin-top: -30px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    transition: left 0.7s;
    z-index: 1;
}

#linha {
    position: absolute;
    top: 160px;
    left: 0;
    width: 100vw;
    height: 4px;
    background: black;
}



.flagIcon {
    height: 80px;
    margin-top: -90px;
    width: auto;
    display: block;
}